# Default ignored files
/../../../../../../../Programação/Cesae Digital/Trabalhos Práticos/Test_Cesae/ALG/PL01/.idea/shelf/
/../../../../../../../Programação/Cesae Digital/Trabalhos Práticos/Test_Cesae/ALG/PL01/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../Programação/Cesae Digital/Trabalhos Práticos/Test_Cesae/ALG/PL01/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../../../Programação/Cesae Digital/Trabalhos Práticos/Test_Cesae/ALG/PL01/.idea/dataSources/
/../../../../../../../Programação/Cesae Digital/Trabalhos Práticos/Test_Cesae/ALG/PL01/.idea/dataSources.local.xml
